.footer {
    height: 80px;
    width: inherit;
    display: flex;
    position: relative;
    padding-top: 25px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    list-style: none;
    justify-content: space-around;
    align-items: flex-start;
    border-top: 1px solid rgba(0,0,0,.2);
    padding-top: 25px;
    padding-bottom: 50px;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: .9rem;
        padding: 3.5rem 0 3.5rem 0;
    }
}

.footer-container li {
    width: 40px;
    height: auto;
    padding-right: 5px;
    transform: scale(1);
    transition: all .2s;

    &:hover, &:focus {
        filter: invert(50%);
        transform: scale(1.1);
    }  
}

.footer-text {
    margin-top: .5rem;
    text-transform: uppercase;
}