.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 800px) {
        font-size: .9rem;
    }

    .title {
        margin: 10px;
    }

    .button {
        display: flex;
        justify-content: space-between;
    }
}